@model lamlai_web_dulich.Models.TaiKhoan


@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Areas/Admin/Views/Shared/loginadmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">

                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                    <div class="card-body">
                        <form>
                            <div class="form-floating mb-3">
                                @Html.LabelFor(m => m.TenDangNhap)
                                @Html.TextBoxFor(m => m.TenDangNhap, "", new { @class = "form-control", @placeholder = "TenDangNhap" })
                            </div>
                            <div class="form-floating mb-3">
                                @Html.LabelFor(m => m.MatKhau)
                                @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control", @placeholder = "Password" })
                            </div>
                            <div class="form-check mb-3">
                                <enter>@ViewBag.thongbao</enter>


                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" href="https://www.facebook.com/ngocbui.it/l">Forgot Password?</a>
                                <input type="submit" name="submit" class="btn btn-primary" value="Login" />

                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center py-3">
                        <div class="small"><a href="https://www.facebook.com/ngocbui.it/">Need an account? Sign up!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}